@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
   16 Dholaikhal, Wari,Dhaka-1100<br />
    <abbr title="Phone">P:</abbr>
    01710280662
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mdemaratali@hotmail.com">mdemaratali@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:muhammadali@gmail.com">Marketing@gmail.com</a>
</address>